{% extends "layout.html" %}

{% block content %}
<section id="exercise-banner" class="banner exercise-banner">
    <div class="container"> 
    </div>
</section>

<section id="exercise" class="exercises" aria-labelledby="exercise-heading">
    <div class="container">

        <div class="dual-header">
            <h2 id="exercise-heading">Exercises</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>		 
        </div>
        
        <div class="exercises-grid">
            {% for exercise in exercise_list %}
                <div class="exercise">
                    <img src="../static/img/banner_general.jpg" alt="" class="content-img" />
                    <div class="content">

                        <div class="exercise-title">
                            <h3 >{{ exercise.title }}</h3>
                        </div>

                        <div class="description">
                            <p> {{ exercise.name }} </p>
                            <a href="{{ url_for('exercise_detail', exercise_id=loop.index0 ) }}" class="button">Learn more</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}