{% extends "layout.html" %}

{% block content %}
<section id="exercise-banner" class="banner exercise-banner">
    <div class="container"> 
    </div>
</section>

<section id="exercise" class="exercises" aria-labelledby="exercise-heading">
    <div class="container">

        <div class="dual-header">
            <h2 id="exercise-heading">Exercises</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>		 
        </div>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <div class="exercise-list">

        </div>
    </div>
</section>
{% endblock %}