{% extends "layout.html" %}

{% block content %}

<section id="faqs" class="faqs" aria-labelledby="faq-heading">
    <div class="container">
        <h2 id="faq-heading">Read here & learn </h2>
        <div class="faqs-list">
            {% for item in faq_list %}
            <div class="faq">
                <button class="question" tabindex="0">
                    {{ item['question'] }}
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="answer">
                    <p>{{ item['answer'] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="questionuser" id="questionuser">
    <!-- custom user quesiton -->
</div>
{% endblock %}