{% extends "layout.html" %}

{% block content %}
<section id="faq-banner" class="banner faq-banner">
    <div class="container">
    </div>
</section>
<section id="faqs" class="faqs" aria-labelledby="faq-heading">
    <div class="container">
        <div class="dual-header">
            <h2 id="faq-heading">Read Here & Learn</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>
        </div>
        <div class="faqs-list">
            {% for item in faq_list %}
            <div class="faq">
                <button class="question" tabindex="0">
                    {{ item['question'] }}
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="answer">
                    <p>{{ item['answer'] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if user_question_list|length > 0 %}
<section id="faqs" class="faqs user-faq" aria-labelledby="faq-heading">
    <div class="container">
        <div class="dual-header">
            <h2 id="faq-heading">User Questions</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>
        </div>
        <div class="faqs-list">
            {% for question in user_question_list %}
            <div class="faq">
                <button class="question" tabindex="0">
                    {{ question }}
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="answer">
                    <p>will reply soon..</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<section id="question-form" class="question-form">
    <div class="container">
        <div class="dual-header">
            <h2 id="faq-heading">Ask your question</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>
        </div>

        <form id="user-question" method="post">
            <div class="content">
                <textarea class="form-textarea" id="user-question-text" name="user-question-text" placeholder="Enter question here.."></textarea>
            </div>
            <div class="submit-btn">
                <input type="submit" value="Submit" class="button">
            </div>
        </form>
    </div>

</section>


{% endblock %}