{% extends "layout.html" %}

{% block content %}
<section id="style-banner" class="banner styles-banner">
    <div class="container">
    </div>
</section>

<section id="styles" class="styles" aria-labelledby="style-heading">
    <div class="container">

        <div class="dual-header">
            <h2 id="style-heading">Equipment & materials</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>
        </div>

        <div class="materials-grid">
            {% for material in material_list %}
            <div class="material">
                <figure class="img-box">
                    <img src="static\img\Material\{{material['image']}}" alt="Image for {{material.image}}"
                        class="img" />
                </figure>
                <div class="content">
                    <h3>{{material['title']}}</h3>
                    <br>
                    <ul>
                        <li>{{material.explanation}}.</li>
                        <br>
                        <li> <strong>Benefits:</strong> 
                            <ol>
                                {% for item in material['Benefits'] %}
                                <br><li>{{ item }}</li>
                                {% endfor %}
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}

        </div>
  
</section>

<section id="styles" class="styles" aria-labelledby="style-heading">
    <div class="container">

        <div class="dual-header">
            <h2 id="style-heading">Where to Practice - Locations</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>
        </div>

        <div class="materials-grid">
                {% for location in location_list %}
                <div class="material">
                    <figure class="img-box">
                        <img src="static\img\location\{{location['image']}}" alt="Image for {{location.image}}"
                            class="img" />
                    </figure>
                    <div class="content">
                        <h3>{{location['Place']}}</h3>
                        <br>
                        <ul>
                            <li><strong>Benefits:</strong>
                                <ol>
                                    {% for (key,val) in location['Benefits'].items() %}
                                    <br><li>{{ key }} - {{val}}</li>
                                    {% endfor %}
                                </ol>
                            </li>
                        </ul>
                        <br>
                        <ul>
                            <li><strong>Experiences:</strong><br>
                                <ol>
                                    {% for (key,val) in location['Feelings'].items() %}
                                    <br><li>{{ key }} - {{val}}</li>
                                    {% endfor %}
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
        </div> 
</section>

{% endblock %}