{% extends "layout.html" %}

{% block content %}
<section id="style-banner" class="banner styles-banner">
    <div class="container"> 
    </div>
</section>

<section id="styles" class="styles" aria-labelledby="style-heading">
    <div class="container">

        <div class="dual-header">
            <h2 id="style-heading">Find your style</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>		 
        </div>

        <h2>Possible Pilates Material</h2>
        <div class="materials-grid">

            <div class="material">
                <figure class="img-box">
                    <img src="static\img\Material\Bigball.jpeg" alt="Big-ball-Pilates"
                        class="img" />
                </figure>
                <div class="content">
                    <h3>Big Ball (Swiss Ball or Stability Ball)</h3>
                    <br><br>
                    <ul>
                        <li>The big ball is a large inflatable ball used for stability, balance, and core
                            work.
                        </li>
                        <br>
                        <li> <strong>Benefits:</strong> <br>
                            Core Activation: Engages deep core muscles.<br>
                            Balance Training: Enhances stability and proprioception.<br>
                            Variety: Allows for diverse exercises.<br>
                            Fun Factor: Adds an element of playfulness to workouts.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="material">
                <figure class="img-box">
                    <img src="static\img\Material\Elasticband.jpeg" alt="Elastic-band-Pilates"
                        class="img" />
                </figure>
                <div class="content">
                    <h3>Elastic Band (Resistance Band)</h3>
                    <br><br>
                    <ul>
                        <li>The elastic band, also known as a resistance band, provides adjustable
                            resistance for strength training.
                        </li>
                        <br>
                        <li> <strong>Benefits:</strong> <br>
                            Versatility: Use it for both upper and lower body exercises. <br>
                            Portability: Easy to carry and use anywhere. <br>
                            Toning: Helps tone and strengthen muscles. <br>
                            Assistance or Resistance: Can be used to assist or challenge movements.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="material">
                <figure class="img-box">
                    <img src="static\img\Material\Foamroller.jpeg" alt="Foam-roller-Pilates"
                        class="img" />
                </figure>
                <div class="content">
                    <h3>Foam Roller</h3>
                    <br><br>
                    <ul>
                        <li>The foam roller is a cylindrical tool made of dense foam.
                        </li>
                        <br>
                        <li> <strong>Benefits:</strong> <br>
                            Self-Myofascial Release: Relieves muscle tension and knots. <br>
                            Stretching Aid: Assists in stretching and improving flexibility. <br>
                            Core Stability: Challenges balance and core engagement. <br>
                            Posture Improvement: Helps align the spine.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="material">
                <figure class="img-box">
                    <img src="static\img\Material\Ring.jpeg" alt="Ring-Pilates" class="img" />
                </figure>
                <div class="content">
                    <h3>Ring</h3>
                    <br><br>
                    <ul>
                        <li>It’s typically made of flexible material (either rubber or metal) and is shaped
                            like a ring with two padded handles that you can squeeze or press together.
                        </li>
                        <br>
                        <li> <strong>Benefits:</strong> <br>
                            Toning and Strengthening: Incorporating the Pilates ring into your practice
                            helps tone and strengthen various muscle groups. <br>
                            Core Engagement: The ring allows you to specifically target your core, which is
                            the powerhouse of any Pilates workout. <br>
                            Versatility: Hundreds of moves can be intensified with the help of a Pilates
                            ring. <br>
                            Instability and Resistance: It creates instability, making your muscles work
                            harder while engaging your core.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="material">
                <figure class="img-box">
                    <img src="static\img\Material\Smallball.jpeg" alt="Small-ball-Pilates"
                        class="img" />
                </figure>
                <div class="content">
                    <h3>Small Ball (Mini Ball)</h3>
                    <br><br>
                    <ul>
                        <li>The small ball is a soft, lightweight ball used for targeted muscle activation.
                        </li>
                        <br>
                        <li> <strong>Benefits:</strong> <br>
                            Isolation: Isolates specific muscle groups. <br>
                            Support: Provides support during challenging exercises. <br>
                            Pilates Principles: Aligns with precision and control principles. <br>
                            Variety: Adds variety to mat exercises.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}