{% extends "layout.html" %}

{% block content %}
<section id="style-banner" class="faq-banner">
    <div class="container"> 
    </div>
</section>

<section id="styles" class="faqs" aria-labelledby="style-heading">
    <div class="container">

        <div class="dual-header">
            <h2 id="style-heading">Find your style</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>		 
        </div>

        <div class="styles-list">

        </div>
    </div>
</section>
{% endblock %}