{% extends "layout.html" %}

{% block content %}

<section id="contact-banner" class="banner contact-banner">
    <div class="container"> 
    </div>
</section>

<section id="contact" class="contacts" aria-labelledby="contact-heading">
    <div class="container">

        <div class="dual-header">
            <h2 id="contact-heading">Get in Touch</h2>
            <div class="separator-wrap">
                <span class="separator separator-one"></span>
                <span class="separator separator-two"></span>
            </div>		 
        </div>

        <div class="contacts-list">
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
            <p>.</p>
        </div>
    </div>
</section>
{% endblock %}