{% extends "layout.html" %}

{% block content %}

<section id="banner" class="banner home-banner">
    <h2>Home page</h2>
    <div class="container">

    </div>
</section>

<section>
    <h2>Home page Content</h2>
    <div class="container">

        <p>The keys to a healthy lifestyle are gained through movement.</p> <br>
        <p>.</p>
        <title>6 Reasons to do Pilates</title>
        <p>Improves flexibility.</p>
        <p>Develops core strength.</p>
        <p>A challenging low-impact form exercise.</p>
        <p>Can improve posture and stability.</p>
        <p>Improves muscular endurance and strengthens muscle tissue.</p>
        <p>Can be done after injury or as part of physical rehabilitation therapy.</p> <br>
        <p>.</p> <br>



        <p>1. “Physical fitness is the first requisite of happiness.”

            — Joseph Pilates.</p> <br>

        <p>2. “You are only as young as your spine is flexible.”

            — Joseph Pilates.</p> <br>

        <p>3. “Change happens through movement and movement heals.”

            — Joseph Pilates.</p> <br>

        <p>4. “In 10 sessions you’ll feel the difference, in 20 you’ll see the difference, and in 30 you’ll have a new body.”

            — Joseph Pilates</p> <br> 

        <p>5. “Every moment of our life can be the beginning of great things.”

            — Joseph Pilates</p> <br>
        
        <p>6. “It’s the mind itself which shapes the body.”

            — Joseph Pilates</p> <br>

        <p>7. “Contrology is complete coordination of body, mind, and spirit.”

            — Joseph Pilates</p>

        <p>8. “Above all, learn to breathe correctly.”

            — Joseph Pilates</p>

        <p> Full-body workouts, whatever the level, you will feel energised, strong & more in tune with your body.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>



        <ptitle2>Importance of breathing in Pilates.</title2>
            <p>In Pilates, proper breathing plays a crucial role in enhancing your practice. Let’s delve into why it
                matters:</p> <br>

            <p>“Breathing is the first act of life and the last. Our very life depends on it. Since we cannot live without breathing it is tragically deplorable to contemplate the millions and millions who have never mastered the art of correct breathing.”

                — Joseph Pilates.</p>
            <p>.</p>
            <h3>Breath and Movement Connection:</h3>
            Breath is the unifying thread that runs through every Pilates exercise.
            It bridges the gap between mind and body, strengthening the connection.
            As you move through each movement, focus on mindful respiration.
            <h3>Core Engagement and Stability:</h3>
            Proper breath control is intricately linked to core engagement.
            When you breathe correctly, you activate deep core muscles, providing stability and strength.
            The diaphragm and oblique muscles are key players in Pilates breathing.
            <h3>Flow and Mindfulness:</h3>
            Enhanced mind-body connection: Pilates emphasizes this connection, and breath serves as the bridge.
            Facilitates movement flow: Controlled breathing ensures your muscles receive ample oxygen, preventing
            fatigue and enhancing endurance.
            Remember, in Pilates, we use a specific breathing technique:

           - Inhale through the nose, directing the breath into the sides of the ribs (expanding the ribs laterally).
           - Exhale through the mouth, closing the rib cage down and in.
           - Maintain abdominal activation by avoiding shallow breathing into the lower stomach..</p>
            <p> “Before any real benefit can be derived from physical exercises, one must first learn how to breath properly. Our very life depends on it.”

                — Joseph Pilates.</p> <br>



            <p>.</p>
            <p>nature : “By all means never fail to get all the sunshine and fresh air you can.”

                — Joseph Pilates.</p>
            <p>.</p>
            <title> Videos to learn</title>
            <p> How to treat Hamstring pain: https://www.youtube.com/watch?v=jV9SSJ3OkcA&t=15s.</p>
            <p>How to treat achilles pain: https://www.youtube.com/watch?v=9421fal-gzU</p>
    </div>
</section>

{% endblock %}