{% extends "layout.html" %}

{% block content %}

<section id="banner" class="banner home-banner">
    <h2>Home page</h2>
    <div class="container"> 
        
    </div>
</section>

<section>
    <h2>Home page Content</h2>
    <div class="container"> 
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
    </div>
</section>

{% endblock %}
