{% extends "layout.html" %}

{% block content %}

<section id="banner" class="banner home-banner">
    <div class="container">
    </div>
</section>

<section id="sentence" class="sentences">
    <div class="container">
        <span class="author">The keys to a healthy lifestyle are gained through movement.</span>
    </div>
</section>

<section id="reasons" class="reason">
    <div class="container">
        <h2>~ 6 Reasons to Do Pilates ~</h2>
        <div class="tab-container">
            <div class="tab" onclick="showTab(1)">Flexibility</div>
            <div class="tab" onclick="showTab(2)">Core Strength</div>
            <div class="tab" onclick="showTab(3)">Low-Impact Exercise</div>
            <div class="tab" onclick="showTab(4)">Posture and Stability</div>
            <div class="tab" onclick="showTab(5)">Muscular Endurance</div>
            <div class="tab" onclick="showTab(6)">Rehabilitation</div>
        </div>

        <div class="tab-content" id="tab1">
            <p><strong>Definition:</strong> Flexibility refers to the range of motion around a joint or a group of
                joints.
                In Pilates, flexibility is emphasized through controlled movements that elongate muscles and improve
                joint
                mobility.
                <br> <br>
                <strong>Importance in Pilates:</strong> Enhanced flexibility allows for better execution of Pilates
                exercises, helps prevent injuries, and contributes to overall body suppleness.
            </p>
        </div>
        <div class="tab-content" id="tab2">
            <p><strong>Definition:</strong> Core strength refers to the stability and endurance of the muscles in
                your
                trunk, including the abdominals, lower back, hips, and pelvic floor. <br> <br>
                <strong>Importance in Pilates:</strong> A strong core is fundamental for maintaining proper posture,
                balance, and overall body functionality. Pilates exercises specifically target these deep core
                muscles.
            </p>
        </div>
        <div class="tab-content" id="tab3">
            <p><strong>Definition:</strong> Low-impact exercises are gentle on the joints and minimize stress on
                bones and
                connective tissues. Pilates is considered low impact because it avoids high-intensity jumping or
                pounding
                movements. <br> <br>
                <strong>Importance in Pilates:</strong> Low-impact exercises make Pilates accessible to a wide range
                of
                individuals, including those recovering from injuries or with joint sensitivities.
            </p>
        </div>
        <div class="tab-content" id="tab4">
            <p><strong>Definition:</strong> Posture refers to the alignment of your body while sitting, standing, or
                moving.
                Stability relates to maintaining balance and control during various activities.<br> <br>
                <strong>Importance in Pilates:</strong> Pilates exercises emphasize proper alignment, which enhances
                posture
                and stability. A strong core supports the spine and helps maintain an upright posture.
            </p>
        </div>
        <div class="tab-content" id="tab5">
            <p><strong>Definition:</strong>Muscular endurance is the ability of muscles to sustain contractions over
                an
                extended period. It allows you to perform repetitive movements without fatigue.<br> <br>
                <strong>Importance in Pilates: Pilates builds muscular endurance by incorporating controlled,
                    repetitive
                    motions. Consistent practice improves endurance and stamina.</strong>
            </p>
        </div>
        <div class="tab-content" id="tab6">
            <p><strong>Definition:</strong> Rehabilitation involves restoring physical function after an injury,
                surgery, or
                illness. Pilates is often recommended for rehabilitation due to its low-impact nature and focus on
                targeted
                muscle groups.<br> <br>
                <strong>Importance in Pilates:</strong> Pilates helps strengthen weakened muscles, improve joint
                mobility,
                and enhance overall body awareness during the recovery process.
            </p>
        </div>
    </div>

</section>

<section id="list-quotes" class="quotes">
    <div class="container">
        <h2>Some Quotes from the inventor of Pilates</h2>
        <div class="quote-container">
            <div class="quote">
                “Physical fitness is the first requisite of happiness.”
            </div>
            <div class="quote">
                “You are only as young as your spine is flexible.”
            </div>
            <div class="quote">
                “Change happens through movement and movement heals.”
            </div>
            <div class="quote">
                “It’s the mind itself which shapes the body.”
            </div>
            <div class="quote">
                “In 10 sessions you’ll feel the difference, in 20 you’ll see the difference, and in 30 you’ll have a
                new body.”
            </div>
            <div class="quote">
                “Above all, learn to breathe correctly.”
                <span class="author">— Joseph Pilates</span>
            </div>

        </div>
    </div>


</section>

{% endblock %}