<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PilatesVitalFlow</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <header>
        <div class="container">
            <h2 aria-label="Pilates Vital Flow"><span>Pilates</span>VitalFlow</h2>
            <nav id="navbar">
                <a href="{{ url_for('home') }}" aria-label="Home" tabindex="1">HOME</a>
                <a href="{{ url_for('faqs')}}" aria-label="Faqs" tabindex="2">FAQS</a>
                <a href="{{ url_for('exercises')}}" aria-label="exercises" tabindex="3">EXERCISES</a>
                <a href="{{ url_for('find_your_style')}}" aria-label="Find your Style" tabindex="4">FIND YOUR STYLE</a>
                <a href="{{ url_for('get_in_touch')}}" aria-label="Get in Touch" tabindex="5">GET IN TOUCH</a>
            </nav>
            <!-- <button class="hamburger">
                <div class="bar"></div>
            </button> -->
        </div>
    </header>

    <!-- <nav class="mobile-nav">
        <a href="{{ url_for('home') }}" aria-label="Home" tabindex="6">HOME</a>
        <a href="{{ url_for('faqs')}}" aria-label="Faqs" tabindex="7">FAQS</a>
        <a href="{{ url_for('exercises')}}" aria-label="exercises" tabindex="8">EXERCISES</a>
        <a href="{{ url_for('find_your_style')}}" aria-label="Find your Style" tabindex="9">FIND YOUR STYLE</a>
        <a href="{{ url_for('get_in_touch')}}" aria-label="Get in Touch" tabinex="10">GET IN TOUCH</a>
    </nav> -->

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="/static/js/script.js"></script>

    <footer>
        <div class="container">
            <div class="copy-text" aria-label="Copyright">
                <p>Copyright © 2024, All Right Reserved. Built By Irene Martin Campo</p>
            </div>

        <div class="icon-grid">
            <a href="https://www.facebook.com" aria-label="Facebook" tabindex="11">
                <i class="fab fa-facebook-f"></i> </a>
            <a href="https://www.instagram.com" aria-label="Instagram" tabindex="12">
                <i class="fab fa-instagram"></i> </a>
            <a href="https://twitter.com" aria-label="Twitter" tabindex="13">
                <i class="fab fa-twitter"></i> </a>
            <a href="https://github.com/Irenetitor" aria-label="GitHub" tabindex="14">
                <i class="fab fa-github"></i></a>
        </div>
    </footer>

</body>

</html>